= form_with model: [ article, article.comments.build ] do |form|
  .mb-3
    = form.label :commenter, class: 'form-label'
    = form.text_field :commenter, class: 'form-control'

  .mb-3
    = form.label :body, class: 'form-label'
    = form.text_area :body, class: 'form-control'

  = form.submit "Add a comment", class: 'btn btn-primary'