<%= render 'shared/navbar' %>

<div class="container-sm py-5 px-5">

  <div class="mb-5 row row-cols-2 justify-content-space-between">
    <h1 class="col">New articles</h1>
    <div class="col align-self-center d-flex justify-content-end">
      <%= link_to "Back", articles_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <%= form_with model: @article do |form| %>
    <div>
      <%= form.label :title, class: 'form-label' %><br>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :body, class: 'form-label' %><br>
      <%= form.text_area :body, class: 'form-control' %>
    </div>

    <div class="mt-3">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
