= render 'shared/navbar'
.container-sm.mt-5
  = link_to "Back", articles_path, class: 'btn btn-primary mb-5'
  .card
    .card-header
      %h1= @article.title
    .card-body
      .card-text= @article.body
    - if current_user == @article.user
      .card-footer
        = link_to "Edit", edit_article_path, class: 'card-link'
        = link_to "Delete", article_path(@article), method: :delete, class: 'card-link'

  - if current_user
    .pt-5
      = render 'comment_form', article: @article


  .pt-5
    - if user_signed_in?
      = render @comments
    - else
      Sign in too see the comments


