= render 'shared/navbar'

.container.py-5.d-flex.justify-content-center
  .card{ :style => 'max-width: 330px; width: 100%;'}
    .card-header
      %h2 Forgot your password?
    .card-body
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field.mb-3
          = f.label :email, class: 'form-label'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        .actions
          = f.submit "Send", class: 'btn btn-primary'
    .card-footer.d-flex.justify-content-between
      = render "devise/shared/links"
