%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container-fluid
    = link_to "Blog App", root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent.justify-content-end
      %ul.navbar-nav
        - if !user_signed_in?
          %li.nav-item
            = link_to "Sign in", new_user_session_path, class: 'nav-link active'
          %li.nav-item
            = link_to "Sign up", new_user_registration_path, class: 'nav-link active'
        - if user_signed_in?
          %li.nav-item
            = link_to current_user.name, edit_user_registration_path, class: 'nav-link active'
          %li.nav-item
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link active'

