= render 'shared/navbar'

.container.d-flex.justify-content-center.py-5
  .card{:style => "max-width: 330px; width: 100%"}
    .card-header
      %h2 Log in
    .card-body
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field.mb-3
          = f.label :email, class: 'form-label'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        .field.mb-3
          = f.label :password, class: 'form-label'
          = f.password_field :password, autocomplete: "current-password", class: 'form-control'
        - if devise_mapping.rememberable?
          .field.mb-3.form-check
            = f.check_box :remember_me, class: 'form-check-input'
            = f.label :remember_me, class: 'form-check-label'
        .actions.mb-3
          = f.submit "Sign in", class: 'btn btn-primary'
    .card-footer.d-flex.justify-content-between
      = render "devise/shared/links"
