!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlogApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css", :rel => "stylesheet"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if flash[:notice]
      .alert.alert-primary.alert-dismissible.mb-0{:role => 'alert'}
        = notice
        %button.btn-close{'aria-label' => 'Close', 'data-bs-dismiss' => 'alert', :type => 'button'}

    - if flash[:alert]
      .alert.alert-danger.alert-dismissible.mb-0{:role => 'alert'}
        = alert
        %button.btn-close{'arial-label' => 'Close', 'data-bs-dismiss' => 'alert', :type => 'button'}

    = yield
